<mat-toolbar color="primary" class="toolbar">
  <!-- (click)="opened=!opened"
  <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="title ms-lg-5 ms-md-0">LeaveBoard</span>

  <span class="example-spacer"></span>
  <button mat-flat-button extended  [matMenuTriggerFor]="menu" color="primary">
    <mat-icon>account_box</mat-icon><span>{{loggedInUserName }}</span>
    <!-- <span class="text-end">{{user}}</span> -->
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="resetPassword()">
      <mat-icon>settings_applications</mat-icon>
      <span>Reset Password</span>
    </button>
    <button mat-menu-item (click)="handleLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

 
    <!-- <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side" class="primary-bg">
    <!-- <a>Home</a> -->
    <mat-list role="list">

      <button mat-menu-item routerLink="dashboard" routerLinkActive="active" class="text-white">
        <mat-icon class="text-white">dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="leaves" routerLinkActive="active" class="text-white">
        <mat-icon class="text-white">description</mat-icon>
        <span>Leaves</span>
      </button>

     
    </mat-list>



  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <!-- <button mat-button >Toggle</button> -->
  </mat-sidenav-content>
</mat-sidenav-container>